.Layout {
   
padding: 40px;

flex-direction: column;
align-items: flex-start;
gap: 10px;
background: radial-gradient(100.04% 100% at 49.12% 0%, #FFF 0%, #EFF6FF 100%);
}

.Layout-2{
    display: flex;
width: 100%;
flex-direction: column;
align-items: flex-start;
gap: 20px;
}

.Typography{
    color: #344054;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 500;
line-height: normal;
color: (52, 64, 84, 1)
}

.Typography-p{
    color: #475467;
font-family: DM Sans;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 38.4px */
}



.button-container {
    display: flex;
    margin-top: 32px;
  }

.button-container button {
    width: 314px;
    height: 36px;
    margin-right: 10px; 
    border-radius: var(--radius-sm, 6px);
background: #FFF;

/* Shadows/shadow-sm */
box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.06), 0px 1px 3px 0px rgba(16, 24, 40, 0.10);
  }